
@font-face {
  font-family: 'ObiSansML-Black';
  src: url('ObiSansML-Black.eot?#iefix') format('embedded-opentype'),  url('ObiSansML-Black.woff') format('woff'), url('ObiSansML-Black.ttf')  format('truetype'), url('ObiSansML-Black.svg#ObiSansML-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}
